* {
    background-color: lightblue;
}

header {
    background-color: lightblue;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: gold;
}

nav{
    border: black;
    width: 50%;
    background-color: lightblue;
    padding: 1rem;
    text-align: center;
    font-size: 25px;
    color: gold;
}
nav p{
    color: yellow;
}
footer{
    background-color: lightblue;
    height: 2.5rem;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    border: 2px ;
}
article{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 1rem 0 0 0;
    /*border :2px solid red;*/
}
article button{
    height: 2rem;
}
article h1{
    border: 2px  gold;
}